:root {
    --pastel-pink: #EA9FA4ff;
    --dark-sea-green: #86AD8Bff;
    --aero-blue: #C6E5D3ff;
    --champagne: #F5E8CEff;
    --light-coral: #E68584ff;
}

body {
    background-color: #F7F7EE;
}

/* header style start */
header {
    padding: 5px 5px;
    background-color: var(--aero-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0px;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--dark-sea-green);

}

header a {
    color: var(--dark-sea-green);
}

header nav {
margin: 20px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 60px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-decoration: none;
}

header nav ul a:hover {
    background: var(--champagne);
    color: var(--light-coral);
    border-radius: 15px;
    font-size: 30px;

}
/* Header Style End */

/* Hero Style Start */
.hero {
    background-image: url("./images/rainbowhero.png");
    background-size: cover;
    height: 350px;
    background-position: left bottom;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

.hero h2 {
    background-color: var(--champagne);
    color: var(--light-coral);
    font-size: 48px;
    position: absolute;
    right: 100px;
    top: 360px;
    text-decoration: underline;
}
/* Hero Style End */

/* About Me Style Start */
.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
}

.body-section{
    display: inline-block;
    padding: 20px, 5px, 20px, 20px;
}
.section-title {
    color: var(--dark-sea-green);
    font-size: 30px;
    width: 20%;
    text-align: right;
    justify-content: flex-start;
    padding: 20px;
}

.about-me-info {
    color: var(--dark-sea-green);
    width: 70%;
    border-left: var(--light-coral) solid 5px;
    padding: 10px;
}

/* Start Image Boxes */

.projects-display{
}

#image-box-1{
    background-image: url(http://placekitten.com/300/450);
    max-width: 70%;
    height: 500px;
}
#image-box2{
    background-image: url(http://placekitten.com/300);
}
#image-box3{
    background-image: url(http://placekitten.com/500);
}
#image-box4{
    background-image: url(http://placekitten.com/400);
}
#image-box5{
    background-image: url(/assets/images/flipped-hero-image.jpeg);
}

.image-box{
    min-height: 300px;
    max-width: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    border: var(--aero-blue) solid 10px;
}

.image-box h1 {
    position: absolute;
    bottom: 20px;
    padding: 5px 8px;
    background-color: var(--dark-sea-green);
    color: var(--champagne);

}



/*
.image-box{
    background-image: url("./images/flipped-hero-image.jpeg");
    min-height: 300px;
    max-width: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    border: var(--aero-blue) solid 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-item {
    height: 500px;
    width: 45%;
    margin: 2.5%;
    background-color: var(--dark-sea-green);
}

#special {
    width: 95%;
}