:root {
    --lightshade: #F7F7EE;
    --maincolor: #98B7E7;
    --lightaccent: #C6C6E3;
    --darkaccent: #9EA3EF;
    --darkshade: #5E54EE;
}

body {
    background-color: var(--lightshade);
}

/* header style start */
header {
    padding: 5px 5px;
    background-color: var(--maincolor);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0px;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: var(--lightshade);

}

header a {
    text-decoration: none;
    color: var(--lightshade);
}

header nav {
margin: 15px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul a {
    padding: 50px 15px;
    font-weight: lighter;
    font-size: large;
}

header nav ul a:hover {
    background: var(--darkshade);
    color: var(--lightaccent);
    border-radius: 15px;
    font-size: larger;

}

/* Start Image Boxes */
.image-box{
    background-image: url("./images/flipped-hero-image.jpeg");
    min-height: 300px;
    max-width: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    border: var(--maincolor) solid 10px;
}

.image-box h1 {
    position: absolute;
    bottom: 20px;
    padding: 5px 8px;
    background-color: var(--maincolor);
    color: var(--lightshade);
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-item {
    height: 500px;
    width: 45%;
    margin: 2.5%;
    background-color: var(--darkaccent);
}

#special {
    width: 95%;
}