:root {
    --pastel-pink: #EA9FA4ff;
    --dark-sea-green: #86AD8Bff;
    --aero-blue: #C6E5D3ff;
    --champagne: #F5E8CEff;
    --light-coral: #E68584ff;
}

body {
    background-color: #F7F7EE;
}

/* header style start */
header {
    padding: 5px 5px;
    background-color: var(--aero-blue);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    top: 0px;
    align-items: center;
}

header h1 {
    font-weight: bold;
    font-size: 50px;
    color: var(--dark-sea-green);

}

header a {
    color: var(--dark-sea-green);
}

header nav {
margin: 20px 0px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 0;
}

header nav ul a {
    padding: 60px 15px;
    font-weight: lighter;
    font-size: 25px;
    text-decoration: none;
}

header nav ul a:hover {
    background: var(--champagne);
    color: var(--light-coral);
    border-radius: 15px;
}
/* Header Style End */

/* Hero Style Start */
.hero {
    background-image: url("./images/rainbowhero.png");
    background-size: cover;
    height: 350px;
    background-position: left bottom;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
}

.hero h2 {
    background-color: var(--champagne);
    color: var(--light-coral);
    font-size: 48px;
    position: absolute;
    right: 100px;
    top: 360px;
    text-decoration: underline;
}
/* Hero Style End */

/* About Me Style Start */
.about-me {
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    margin: 40px auto;
}

.body-section{
    display: inline-block;
    padding: 20px, 5px, 20px, 20px;
}
.section-title {
    color: var(--dark-sea-green);
    font-size: 30px;
    width: 20%;
    text-align: right;
    justify-content: flex-start;
    padding: 15px;
}

.about-me-info {
    color: var(--dark-sea-green);
    width: 70%;
    border-left: var(--light-coral) solid 5px;
    padding: 10px;
    margin: 0;
    padding: 40px;
}

/* Start Image Boxes */

.projects-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
}

#body-section-title{
    min-width: 20%;
}

.projects-display {
    min-width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    border-left: var(--light-coral) solid 5px;
}

.projects-display a:first-child {
    min-width: 90%;
}

.projects-display a {
    min-height: 300px;
    min-width: 45%;

}



#image-box-1{
    background-image: url(http://placekitten.com/300/450);
    max-width: 100%;
    height: 500px;
}
#image-box2{
    background-image: url(http://placekitten.com/300);
}
#image-box3{
    background-image: url(http://placekitten.com/500);
}
#image-box4{
    background-image: url(./images/Launch\ Logo\ Portfolio.png);
}
#image-box5{
    background-image: url(./images/flipped-hero-image.jpeg);
}

.image-box{
    min-height: 300px;
    min-width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    border: var(--aero-blue) solid 10px;
}

.image-box h1 {
    position: absolute;
    bottom: 20px;
    padding: 5px 8px;
    background-color: var(--dark-sea-green);
    color: var(--champagne);
}

/*Start Contact Me*/
.contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    top: 0px;
    width: 95%;
    margin: auto;
}
.contact-info{
    color: var(--dark-sea-green);
    width: 70%;
    border-left: var(--light-coral) solid 5px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.contact-info img{
    max-width: 100px;
    max-height: 100px;
    padding: 8px;
}

.contact-info p {
    padding: 8px;
}

.contact-info a{
    color: var(--dark-sea-green);
}

.contact-info a:hover{
    background: var(--champagne);
    color: var(--light-coral);
    border-radius: 15px;
}

@media screen and (max-width: 980px) {
    header{
        padding-bottom: 0;
        justify-content: center;
        position: relative;
        text-align: center;
    }
    
    header h1{
        width: 100%;
        text-align: center;
    }
    
    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }
    
    header nav ul li a {
        font-size: 20px;
    }

    .about-me, .contact {
        flex-direction: column;
    }

    .about-me-info, .contact-info, .projects-display {
        width: 95%;
        border-top: var(--light-coral) solid 5px;
        border-left: none;
        padding: 10px;
    }

    .section-title{
        width: 95%;
        text-align: center;
    }
}

/* @media screen and (max-width: 725px) {

} */
    
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768px) {
section {
    padding: 30px 15px;
}
    
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 575px){

}


/*
.image-box{
    background-image: url("./images/flipped-hero-image.jpeg");
    min-height: 300px;
    max-width: 450px;
    background-size: cover;
    background-position: center;
    position: relative;
    border: var(--aero-blue) solid 10px;
}

.box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.box-item {
    height: 500px;
    width: 45%;
    margin: 2.5%;
    background-color: var(--dark-sea-green);
}

#special {
    width: 95%;
}